/*Import Files */
@import "calendar.css";

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-size: fill;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: url("../Images/pattern_sprinkles-1_1_2_0-0_0_1__393737_666666.png");
    background-size:fill;
    background-position: center;
}

.navigation {
    width: 100%; 
    background-color: rgb(56, 54, 54);
    color: #fff;
    padding: 10px; 
    box-sizing: border-box; 
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    min-height: 80px; 
    max-height: fit-content;
    border: 2px solid #000; 
}
  
#navbar {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
#navbar div {
    margin: 0 10px; /* Add some space between elements */
}
.add-workspace{
    border: 1px solid #000;
    padding: 10px;
    background-color: #6565657e;
    border-radius: 5px;
    cursor: pointer;
}
.add-workspace img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.add-workspace button{
    background-color: #000000; /* Example button color */
    color: #fff; /* Example text color */
    border: none;
    padding:10px;
    cursor: pointer;
    border-radius: 5px;
}
.tools {
    position: absolute;
    right: 5px;
    top:30px;
}
.tools img{
    width: 30px;
}
.user-info {
   display: flex;
   position: absolute;
   top: 30px;
   right: 10vw;
   width: max-content;
}
.user-info p{
    color: white;
    margin: 0 10px;
}
.user-info img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 0 10px;
}  
/* Style icons as needed */
#navbar div img{
    margin: -10px 10px;
}
.search {
    position: absolute;
    left: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(217, 217, 217, 1);
    margin-top: 20px;
    transition: 2s;
}
.search input[type="text"] {
    padding: 8px;
    width: 200px; /* Example width */
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
    width:80%;
    background-color: transparent;
    border: none;
    font-size: large;
    color: black;
}
.search .searchIcon img{
    width: 30px;
    height: 30px;
    margin-right: 10px; 
}
.search input:focus{
    transition: 2s;
    width: 100%;
}
.sidebar{
    width:20vw;
    background-color: rgb(56, 54, 54);
    position: absolute;
    top:80px;
    min-height: calc(100vh - 80px);
    border: 1px solid #000;
    max-height: 100vh;
}

.sidebar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.sidebar ul li{
    margin-left: 5%;
    width:80%;
    margin-top: 10px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    height: fit-content;
    justify-content:last baseline;
    display: flex;
}
.sidebar ul li:hover{
    text-decoration: underline;
}
.sidebar ul li img.icon{
    width: 25px;
    margin-right: 10px;
}
.sidebar ul li img.dropdown{
    width:20px;
}
.sidebar ul li a{
    padding: 5px;
}

li.my_workspace{
    display: block !important;
    height: fit-content;
}
li.my_workspace:hover{
    text-decoration: none !important;
}
.my_workspace .toggle{
    display: block;
    height: fit-content;
}
.my_workspace #workspace_sublets{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#workspace_sublets span{
    height: fit-content;
    margin-left: 5%;
    width:80%;
    margin-top: 10px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    height: fit-content;
    display: flex;
}
#workspace_sublets span:hover{
    text-decoration: underline;
}
#workspace_sublets span img.icon{
    width: 25px;
    margin-right: 10px;
    margin-top: -5px;
}

#dashboard{
    position: absolute;
    top: 80px;
    right: 0;
    width:calc(100vw - 21vw);
    min-height: fit-content;
    max-height: calc(100vh-80px);
}
#dashboard #banner{
    height: 250px;
}
#dashboard #banner img{
    height: 100%;
    width: 100%;
    position: center;
}
#welcome_message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    text-align: center;
}

#tray{
    color: white;
    position: absolute;
    top:250px;
    background-color: #000;
    width: 100%;
    height: calc(100vh - 330px);
}

#trayBar{
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    height: 50px;
}
#trayBar img{
    width: 30px;
    height: 30px;
    display: flex;
    cursor: pointer;
    float: right;
    margin: -2px 10px;
}

#trayBar h2:hover{
    transition: 2s;
    text-decoration: underline;
    cursor: pointer;
}
#trayBar h2:active{
   transform: perspective(1px) scale(0.8);
}

#tray hr{
    background-color: #fff;
    color: white;
    width: 100%;
    height: 3px;
    display: block;
}

#chronograph{
    width:100%;
    display: inline-block;
    align-items: center;
}
#chronograph div{
    width: fit-content;
    display:flex;
    height: fit-content;
}
#chronograph div h2{
    color: white;
    margin: 0;
    padding:5px;
}
#chronograph #time{
    height: 30px;
    width: fit-content;
    float: left;
    margin: 10px;
}
#chronograph #time img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin:10px;
}
#chronograph #date{
    float: right;
    margin: 10px;
}

#itemTabs{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: -10px;
}
#itemTabs .item{
    width: 25%;
    text-align: center;
    border-radius: 5px;
}
#itemTabs h2{
    color: white;
    cursor: pointer;
    margin: 0;
    padding: 10px;
}

#itemTabs .ongoingProjects{
    background-color: #2A3385;
}
#itemTabs .dueToday{
    background-color: #7B3333;
}
#itemTabs .dueToday .itemTitle{
    background-color: #58211a;
}
#itemTabs .events{
    background-color: #2A8533;
}
#itemTabs .ongoingProjects .itemTitle{
    background-color: #1d245e;
}
#itemTabs .events .itemTitle{
    background-color: #1a5821;
}

#itemTabs .item .itemTitle{
    padding: 3px 0px;
    color: white;
    width:100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.itemContent p:hover{
    cursor: pointer;
    border: 1px solid #000;
    box-shadow: 0 0 10px #000;
}
.itemContent p{
    background-color: white;
    color: black;
    width: 80%;
    margin: 0;
    padding: 10px;
    margin: 7%;
    text-align: center;
}

.itemContent .urgency{
    display: inline-block;
    color: #1a5821;
    margin-top: 10px;
    width: 100%;
}
.itemContent .urgency .priority{
    float: left;
    color: rgb(131, 131, 17);
}
.itemContent .urgency .time{
    float: right;
    color: rgb(78, 44, 169);
}